# --- SERVICES ---

[http.services.vaultwarden.loadBalancer]
  [[http.services.vaultwarden.loadBalancer.servers]]
    url = "http://127.0.0.1:8083"

[http.services.nextcloud.loadBalancer]
  [[http.services.nextcloud.loadBalancer.servers]]
    url = "http://127.0.0.1:8081"

[http.services.pangolin.loadBalancer]
  [[http.services.pangolin.loadBalancer.servers]]
    url = "http://127.0.0.1:8082"

[http.services.stalwart.loadBalancer]
  [[http.services.stalwart.loadBalancer.servers]]
    url = "http://127.0.0.1:8090"

# --- ROUTERS ---

# Dashboard Traefik
[http.routers.traefik]
  rule = "Host(`traefik.vps.marcpartensky.com`)"
  entryPoints = ["websecure"]
  service = "api@internal"
  tls = { certResolver = "letsencrypt" }

# Vaultwarden
[http.routers.vaultwarden]
  rule = "Host(`vault.vps.marcpartensky.com`)"
  entryPoints = ["websecure"]
  service = "vaultwarden"
  tls = { certResolver = "letsencrypt" }

# Nextcloud
[http.routers.nextcloud]
  rule = "Host(`cloud.vps.marcpartensky.com`)"
  entryPoints = ["websecure"]
  service = "nextcloud"
  tls = { certResolver = "letsencrypt" }

# Pangolin
[http.routers.pangolin]
  rule = "Host(`pangolin.vps.marcpartensky.com`)"
  entryPoints = ["websecure"]
  service = "pangolin"
  tls = { certResolver = "letsencrypt" }

# Stalwart Mail Interface
[http.routers.stalwart]
  rule = "Host(`mail.vps.marcpartensky.com`)"
  entryPoints = ["websecure"]
  service = "stalwart"
  tls = { certResolver = "letsencrypt" }
